<!DOCTYPE html>
<html>
<head>
	<title>FILEROUGE</title>
</head>
<body onload="init()">
<% content_for("page_header") do %>
 <%= stylesheet_link_tag 'vis.css' %>
<% end %>

	<header>
		<button class="col-lg-12 fixed-top">
			<h3 class="float-left font-italic">FILE ROUGE</h3>
			<a href="#" type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#exampleModal1">Connexion</a>
			<a href="#" type="button" class="float-right btn btn-primary" data-toggle="modal" data-target="#exampleModal2">Inscription</a>
		</button><br>

		<!-- Menu -->
		<br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
 		 	</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
	    	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
	      <li class="nav-item active">
	        <button class="nav-link" id="import_button" onclick="window.location.href = '<%= pages_index_path %> ' ">Load Topology <span class="sr-only">(current)</span></button>
	      </li>
	      <li class="nav-item">
	        <button class="nav-link" id="export_button" onclick="exportNetwork()">Save Topology</button>
	      </li>
      <li class="nav-item">
        	<button class="nav-link" href="#" id="destroy_button" onclick="destroyNetwork()">Destroy Topology</button>
      	</li>
    	</ul>
    	<form class="form-inline my-2 my-lg-0">
      	<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    	</form>
  	</div>
	</nav>
	<!-- Modal connexion -->
		<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Connectez vous</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <form>
				  <div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
				    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				  </div>
				  <div class="form-group form-check">
				    <input type="checkbox" class="form-check-input" id="exampleCheck1">
				    <label class="form-check-label">Check me out</label>
				  </div>
				  <button type="submit" class="btn btn-primary">Valider</button>
				  <small id="emailHelp" class="form-text text-muted">Si vous n'avez pas un compte <a href="#" data-toggle="modal" data-target="#exampleModal2">Enregistrez vous ici</a></small>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Modal inscription -->

		<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Inscrivez vous</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      <form>
			  <div class="form-group">
			   	<label for="Nom">Nom</label>
			    <input type="text" class="form-control" id="Nom" placeholder="Nom">
			    <label for="Prenom">Prenom</label>
			    <input type="text" class="form-control" id="Prenom" placeholder="Prenom">
			   </div>

			    <div class="form-group">
			    	<label for="inputEmail">Email</label>
			      	<input type="email" class="form-control" id="inputEmail" placeholder="Email">
			      	<label for="inputPassword">Password</label>
			      	<input type="password" class="form-control" id="inputPassword" placeholder="Password">
			    </div>
			    <div class="form-group form-check">
				    <input type="checkbox" class="form-check-input" id="exampleCheck">
				    <label class="form-check-label">Check me out</label>
				  </div>
				  <button type="submit" class="btn btn-primary">Valider</button>
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
		      </div>
		    </div>
		  </div>
		</div>

	</header>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Graph</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Planification</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Blockchain</a>
	</li>
</ul>
<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= select(:topology, :topology_id, Topology.all.collect {|p| [p.name, p.id]}, {class: "select"}, id: "topology-select") %>
					<h4 class="text-secondary"> Put your codes JSON here :</h4>
					<textarea class="form-control" id="input_output">json</textarea>
					<div class="row">
						<div class="col-md-12">
							<h4 class="text-secondary">Network Topology</h4>
							<div class="border border-success" id="network" style="width: 700px; height: 700px">
							</div>
							<div id="config"></div>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		<div id="calendar"></div>


		<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content"></div>
			</div>
		</div>

		<script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').html();
            $('#calendar').fullCalendar({events: '/events.json'});

            $('.fc-future, .fc-today').on('click', function () {
                console.log('toto');
                $("#modal-window").find(".modal-content").html("<%= j (render 'events/form', event: Event.new) %>");
                $("#modal-window").modal();
            });
        });

		</script>
	</div>
	<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">.676767..</div>
</div>


<% content_for("javascripts") do %>
	<%= javascript_include_tag 'vis.js' %>
	<%= javascript_include_tag 'vis.min.js' %>
	<%= javascript_include_tag 'mesfunction.js' %>
<% end %>
</body>

<!-- footer -->
<!--<footer><br>-->
<!--	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
<!--	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>-->
<!--</footer>-->
</html>

