<div class="modal-header">
	<h4 class="modal-title" id="myModalLabel">New Event</h4>

	<button type="button" class="close" data-dismiss="modal">x</button>


</div>
<div class="modal-body">
	<%= bootstrap_form_with(model: event, local: true) do |form| %>
	<% if event.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

		<ul>
			<% event.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<div class="field">
		<%= form.text_field :title, id: :event_title %>
	</div>

	<div class="field">
		<%= form.text_area :description, id: :event_description %>
	</div>

	<div class="field">
		<%= form.datetime_select :start_time, id: :event_start_time %>
	</div>

	<div class="field">
		<%= form.datetime_select :end_time, id: :event_end_time %>
	</div>

	<div class="field">
		<label for="exampleSelect1">Example select</label>
		<%= collection_select(:event, :topology_id, Topology.all, :id, :name, {class: "select" })  %>
	</div>

	<div class="actions">
		<%= form.submit :Submit, class: 'btn btn-success'  %>
	</div>
	<% end %>
</div>

