<!DOCTYPE html>
<html>
  <head>
    <title>Topologizer</title>
    <%= stylesheet_link_tag 'vis' %>
    <%= yield "page_header" %>
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'mesfunction', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vis', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vis.min', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<% flash.each do |key, value| %>
	    <div class="alert alert-<%= key %> alert-dismissab">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <%= value %>
	    </div>
	<% end %>

  <% if current_user %>
    Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
      <%= link_to 'Login', new_user_session_path %>
  <% end %>

    <%= yield %>
  </body>
</html>
